html {
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
    overflow: hidden;
}

div#appDiv {
    height: 100%;
}

.displayNone {
    display: none;
}

.styleRoot {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: 15px 15px 0px 15px;
    padding: 15px;
}

.styleChildren {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 85%;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: left;
    float: right;
    /*
    max-height: 10;
    overflowY: 'auto';
    */
}

.loadingNewTab {
    text-align: center;
    margin: 25px;
}

.loadingIconCommentaries {
    height: 20px;
    width: 20px;
    margin-left: 20px;
}

.styleGridList {
    width: 100%;
    height: auto;
    overflow-y: auto;
    margin-bottom: 30px;
}

.styleChildrenList {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.styleSendButton {
    bottom: 2px;
    position: absolute;
}

.styleCommentSeparator {
    width: 95%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.commentMargin {
    margin-bottom: 15px;
}

.commentMarginFavourites {
    width: 100% !important;
    margin-right: 25px;
    margin-bottom: 15px;
}

.commentBackground {
    background-color: #eeeeee;
}

.marginNoCommentaries {
    padding-left: 15px;
}

.profileGrid{
    margin: 30px;
}

.primaryButton {
    margin: 5px;
}

.verticalDivider {
    width: 1px;
    height: 100%;
    margin: auto;
    border-right: 1px solid black;
}

.profileAvatarColumn {
    position: relative;
    height: 100%;
    width: 80%;
    max-height: 100%;
    padding: 30px 0px 30px 30px;
    border-right: 1px solid black;
}

.perfilDataColumn {
    position: relative;
    height: 100%;
    width: 80%;
    padding: 30px 0px 30px 0px;
}

.divProfileAvatar {
    position: relative;
    margin: 15px 50px 15px 50px;
    height: 300px;
    max-height: 99%;
    max-width: 100%;
    display: flex; 
    vertical-align: middle; 
    text-align: center;
}

.profileNickColumn {
    padding-right: 10px;
    border-right: 1px solid black;
}

.profileKarmaColumn {
    padding: 0px 10px 0px 10px;
}

.profileKarmaIconColumn {
    margin: auto;
}

.helpKarma {
    max-width: 15em;
}

.divDatosPerfil {
    margin-left: 50px;
    margin-right: 90px;
    padding: 30px 30px 30px 30px;
}

.profileAvatarImage {
    position: relative;
    margin: auto;
    max-width: 95%;
    max-height: 95%;
}

.uploadProfileAvatar {
    position: relative;
    height: 100%;
    width: 100%;
}

.divUploadAvatarButton {
    margin-top: 30px;
    margin-right: 50px;
    margin-left: 50px;
}

.inputProfileData {
    margin-top: 15px;
}

.dialogUploadBook {
    width: 75%;
    max-width: 100%;
}

.uploadBookLeftGrid {
    padding-right: 20px;
    border-right: 1px solid black;
}

.uploadBookRightGrid {
    padding-left: 20px;
}

.paddingTextFields {
    padding-bottom: 15px;
}

.saveProfileButton {
    text-align: right;
    margin-right: 30px;
}

.divCommentaries {
    padding: 10px;
}

.divCommentaryAnswer {
    width: 100%;
    padding-left: 15px;
}

.divShowAnswers {
    text-align: center;
    width: 100%;
}

.commentListTileBar {
    position: relative;
    background: linear-gradient(to bottom, rgba(255,255,255,0.7) 0%, rgba(0, 0, 0 , 0.3) 50%,rgba(0,0,0,0) 100%);
    margin-bottom: 5px;
}

.commentListTileBar2 {
    position: relative;
    background: linear-gradient(to bottom right, rgba(255,255,255,0.7) 0%, rgba(0, 0, 0 , 0.2) 50%,rgba(0,0,0,0) 100%);
    margin-bottom: 5px;
}

.commentaryNickName {
    color: black;
    padding-left: 10px;
}

.centeredText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*
.divCommentaryAnswerSubCommentary {

}
*/