div#exploreDiv{
    height: 100%;
}

.bodyContainer {
    width: 100%;
    height: 92%;
    padding-bottom: 10px;
    position: relative;
}

div#root {
    height: 100%;
}

.marginAuto {
    margin: auto;
}

.styleButton {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.styleButtonUp {
    position: fixed;
    bottom: 125px;
    right: 50px;
}

.bodyFavoritos {
    overflow: hidden;
}

.boton-anadir {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.imageInput {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: '100%';
    opacity: 0;
}

.coverImagePreview {
    text-align: center;
    max-width: 99%;
    max-height: 99%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.errorInput {
    line-height: 12px;
    font-size: 12px;
    color: rgb(244, 67, 54)
}

.arrowButtonLeft {
    position: absolute;
    left: 20px;
    top: 50%;
}

.imageExplore {
    position: relative;
    /*width: 100%;*/
    min-height: 300px;
    max-height: 500px;
}

.arrowButtonRight {
    position: absolute;
    right: 20px;
    top: 50%;
}

a:hover { 
    cursor: pointer;
}

.divComentario {
    margin-top: 60px;
    margin-bottom: 5px;
    padding-left: 25px;
    padding-right: 15px;
}

.respuestaComentario {
    width: 100%;
    padding-left: 25px;
    margin-top: 1em;
    margin-bottom: 5px;
    text-align: center;
    font-style: italic;
}

.divRespuestaComentario {
    display: inline-block;
    margin-left: 25px;
    width: 100%;
    height: 100%;
}

.margenNoComentarios {
    margin-left: 20px;
}

.expandComentarios {
    padding-left: 0px;
    margin-left: 0px;
}

.expandComentarios:hover {
    background: transparent;
    background-color: transparent;
}

.gridDiv {
    position: relative;
    height: auto;
    max-height: 99%;
    overflow-y: auto;
}

.favouritePages {
    text-align: right;
    padding-right: 30px;
}

.imagenesFavoritos {
    position: relative;
    width: auto;
    height: auto;
    top: '0%';
    z-index: -1;
}

.whiteText {
    color: white;
}

.writtenBy {
    font-size: 16px;
    display: inline-block;
    padding-right: 1em;
}

.profileAvatarColumn {
    height: 100%;
    width: 80%
}