.styleRootFavourites {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-right: 15px;
    padding: 15px;
}

.continueModal {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 500px;
    height: auto;
    width: auto;
    max-width: 600px;
    text-align: center;
}

.userGenreSelect {
    width: 100%;
}