.favouritesDiv {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.favouritesGrid {
    position: relative;
    height: 100%;
}

.gridList {
    width: 100%;
    height: 100%;
    max-height: 100%;
}

.favouritesGridItems {
    width: 100%;
    height: 50%;
}

.favouritesGridRightFather {
    max-height: 100%;
}

.favouritesGridRight {
    position: inherit;
    width: 100%;
    height: 100%;
    max-height: 100%;
}

.favouritesRightUp {
    width: 100%;
    flex-basis: auto;
}

.favouritesRightDown {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1;
    background-color: #eeeeee;
}

.grBookId {
    height: 50% !important;
    width: 100%;
    text-align: center;
    top: 0;
    padding: 5px !important;
}

.grDeletedBook {
    cursor: not-allowed;
    height: 50% !important;
    width: 100%;
    text-align: center;
    top: 0;
    padding: 5px !important;
    content: "";
    opacity: 30%;
    pointer-events: none;
}

.grSelectedBookId {
    cursor: pointer;
    height: 50% !important;
    width: 100%;
    text-align: center;
    top: 0;
    padding: 5px !important;
    border: 2px solid red;
}

.tileBackGround {
    height: 100%;
    background-color: lightgray;
}

.favouritesCover {
    width: 100%;
    height: auto;
    transform: none;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    margin: auto;
    cursor: pointer;
}

.favouritesCoverDiv {
    display: flex;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.favouritesBookTitle {
    text-align: left;
}

.inlineBlock {
    display: inline-block;
}

.floatRight {
    float: right;
}

.inlineBlockButton {
    display: inline-block;
    width: 88%;
}

.favouritesCommentDiv {
    position: absolute;
    width: 100%;    
    height: auto;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.favouritesRightDivider {
    margin: 15px 25px 15px 0px;
}

.favouriteFoot {
    display: block;
    text-align: center;
}

.favouriteFootEmpty {
    position: absolute;
    bottom: 3%;
}

.favouriteSelector {
    position: inline-block;
    float: left;
    text-align: left;
    margin-left: 30px;
}

.favouritesDelete {
    display: inline;
    margin: auto;
}

.favouritePages {
    position: inline-block;
    float: right;
    text-align: right;
    margin-right: 30px;
}

.favouriteLikesText {
    color: white;
    margin: auto;
    padding-left: 3px;
    padding-right: 10px;
}

.favouriteAvatarButton {
    margin: auto;
    padding-right: 10px;
}

.favouriteLikesHeart {
    transform: translateY(25%);
    cursor: pointer;
}